html, body, #__nuxt{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: darkslateblue;
    color: turquoise;
    font-family: Quicksand,sans-serif;
}

a{
    color: turquoise;
}